<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./bookslot.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">

        <p></p>
        <div class="row">
            <div class="col" style="background-color:lavender;"><a href="firstslot">One</a></div>
            <div class="col" style="background-color:lavenderblush;"><a href="secondtslot">Two</a></div>
            <div class="col" style="background-color:lavender;"><a href="thirdslot">Three</a></div>
        </div>
    </div>

</body>

</html>